 
<header>
    <h1>Explore India</h1>
  </header>
  
  <section>
    <video class="d-block w-100" controls height="540"> 
      <source src="/assets/wonder.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </section>
  
  
  <section>
  
    <div class="state-card">
      <img src="/assets/exploresolo.avif" alt="State Image">
      <div class="state-content">
        <h2>Explore with Solo</h2>
        <p>“Traveling solo for the first time is like opening a door to a world of endless possibilities.”</p>
        <p><strong>Learn More:</strong> <a class="link" href="#">Explore</a></p>
      </div>
    </div>
  
    <div class="state-card">
      <img src="/assets/explorefamily.jpg" alt="State Image">
      <div class="state-content">
        <h2>Explore with Family</h2>
        <p>Happiness is planning a trip to somewhere new, with someone you love.</p>
        <p><strong>Learn More:</strong> <a class="link" href="#">Explore</a></p>
      </div>
    </div>
  
    <div class="state-card">
      <img src="/assets/explorestrange.jpg" alt="State Image">
      <div class="state-content">
        <h2>Explore with Strange Place</h2>
        <p>A hero is somebody who voluntarily walks into the unknown. Greatness is a road leading towards the unknown.</p>
        <p><strong>Learn More:</strong> <a class="link" href="#">Explore</a></p>
      </div>
    </div>
  
    <div class="state-card">
      <img src="/assets/explorestreet.jpg" alt="State Image">
      <div class="state-content">
        <h2>Explore with Street</h2>
        <p>In the tiny shops of quiet streets, there is a huge world: If there is sincerity, sweetness, and naturalness
          in a place, then there is a huge world there!</p>
        <p><strong>Learn More:</strong> <a class="link" href="#">Explore</a></p>
      </div>
    </div>
  
  </section>
  
  