body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
     background-image: url('/assets/bg.avif');  
     
    padding: 40px;  
  }
  .state-card {
    width: 300px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .state-card img {
    width: 100%;
    height: auto;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  
  .state-content {
    padding: 20px;
    text-align: left;
  }
  
  .state-content h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .state-content p {
    color: #666;
    margin-bottom: 15px;
  }
  
  .link {
    color: #007bff;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }