  <header>
      <h1>Explore the Richness of India</h1>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="/assets/Religious.jpg" width="300px" alt="Religious Diversity" >
          <b>Religious Diversity:</b><p> India is known for its religious diversity. Major religions such as Hinduism, Islam, Christianity, Sikhism, Buddhism, and Jainism originated or have a significant presence in the country.</p><br>
        </div>
        <div class="col-md-4">
          <img src="/assets/c6.webp" width="300px"  alt="Festivals">
          <b>Festivals celebrates:</b> <p>India celebrates a multitude of festivals throughout the year. Diwali (festival of lights), Holi (festival of colors), Eid, Christmas, Navaratri, and many others are celebrated with enthusiasm, often involving vibrant decorations, music, dance, and special foods.</p><br>
      </div>
      <div class="col-md-4">
          <img src="/assets/clothes.webp" alt="Traditional Clothing"class="wid">
          <b>Traditional Clothing:</b><p> Traditional Indian clothing varies across regions, but commonly worn items include sarees for women and dhotis or kurta-pajamas for men. Additionally, garments like salwar kameez and lehenga choli are popular, especially during festivals and special occasions.</p><br>
      </div>

      <div class="row">
          <div class="col-md-4">
          <img src="/assets/art.jpg" alt="Art and Architecture">
          <b>Art and Architecture:</b> <p>India has a rich artistic heritage. Traditional art forms include classical dance (such as Bharatanatyam and Kathak), classical music (Carnatic and Hindustani), and various forms of painting and sculpture. Architectural wonders like the Taj Mahal, Jaipur's Hawa Mahal, and ancient temples showcase the country's architectural prowess.</p><br>
      </div>
      <div class="col-md-4">
          <img src="/assets/languages.jpg" alt="Languages">
          <b> Country Languages:</b> <p>India is a linguistically diverse country with numerous languages and dialects. Hindi and English are the official languages, but many states have their own official languages, such as Tamil, Telugu, Bengali, and more.</p><br>
      </div>
      <div class="col-md-4">
          <img src="/assets/c5.webp" alt="Family and Social Structure">
          <b>Family and Social Structure: </b><p>Indian society places a strong emphasis on family values. Extended families often live together, and respect for elders is a key cultural value. Social structures, especially in rural areas, may still adhere to traditional caste systems, although efforts are ongoing to promote social equality.</p><br>
      </div>
      </div>
      <div class="row">
      <div class="col-md-4"> 
          <img src="/assets/ayurveda.jpg" alt="Ayurveda and Yoga">
          <b>Ayurveda and Yoga:</b> <p>India has contributed significantly to the fields of alternative medicine and wellness. Ayurveda, the traditional system of medicine, emphasizes natural healing and balance.</p><br>
      </div>
          <div class="col-md-4">
          <img src="/assets/spirituality.avif" alt="Spirituality">
          <b>Spirituality Considered:</b> <p>India is often considered a land of spirituality, with a long history of philosophers, saints, and gurus. The country is home to various pilgrimage sites and spiritual practices.</p><br>
        </div>
      </div>
  </div>
  