<body>
    <header>
        <h1>Welcome to the World of Indian Cuisine</h1>
        <p>Experience the rich and diverse flavors of India</p>
    </header>

    <div class="food-container">
        <div class="food-item">
            <img src="/assets/Biriyani.webp" alt="Biryani">
            <p>Biryani</p>
            <blockquote>"Biryani is not just food; it's an emotion!"</blockquote>
        </div>
        <div class="food-item">
            <img src="/assets/samosa.jpg" alt="Samosa">
            <p>Samosa</p>
            <blockquote>"Samosa: The perfect crispy delight for any occasion."</blockquote>
        </div>
        <div class="food-item">
            <img src="/assets/food1.jpg" alt="Kerala Food">
            <p>Kerala Food</p>
            <blockquote>"Experience the unique blend of flavors in Kerala cuisine."</blockquote>
        </div>
        <div class="food-item">
            <img src="/assets/southindian.jpg" alt="South Indian Food">
            <p>South Indian Food</p>
            <blockquote>"Savor the traditional tastes of South India."</blockquote>
        </div>
        <div class="food-item">
  

          <img src="/assets/AndhraChicken.jpg" alt="Andhra Food">
            <p>Andhra Food</p>
            <blockquote>"Spice up your palate with the bold flavors of Andhra cuisine."</blockquote>
        </div>
        <div class="food-item">
            <img src="/assets/rajashthan.jpg" alt="Rajasthan Food">
            <p>Rajasthan Food</p>
            <blockquote>"Indulge in the royal flavors of Rajasthan."</blockquote>
        </div>
        <div class="food-item">
            <img src="/assets/gujarat.jpg" alt="Gujarat Food">
            <p>Gujarat Food</p>
            <blockquote>"Explore the vibrant and flavorful dishes of Gujarat."</blockquote>
        </div>
        <div class="food-item">
            <img src="/assets/maharastra.avif" alt="Maharashtra Food">
            <p>Maharashtra Food</p>
            <blockquote>"Taste the diverse and delectable cuisine of Maharashtra."</blockquote>
        </div>
        <div class="food-item">
            <img src="/assets/odisha.jpg" alt="Odisha Food">
            <p>Odisha Food</p>
            <blockquote>"Discover the authentic flavors of Odisha's culinary delights."</blockquote>
        </div>
    </div>
</body>

