<div class="container-fluid bg-dark py-3">
    <div class="row">
        <div class="col-sm-6">
            <div class="input d-flex justify-content-start ">
                <h1 class="head mt-3  ">DS Master</h1>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input d-flex justify-content-center ">
                <button class="value">
                    <p routerLink="/" class="mb-1 me-3">HOME</p>
                </button>
                <button class="value">
                    <p routerLink="/about" class="mb-1 me-3">ABOUT US</p>
                </button>
                <button class="value">
                    <p routerLink="/contact" class="mb-1 me-3">CONTACT US</p>
                </button>
                <button class="value">
                    <p routerLink="/stateCom" class="mb-1 me-3">STATES</p>
                </button>
                <button class="value">
                    <p routerLink="/admin" class="mb-1 me-3">ADMIN</p>
                </button>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>