.input {
  display: flex;
  flex-direction: row;
  width: auto;
  /* background-color: #0d1117; */
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  height: 30px;
}

.value {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: white;
  display: flex;
  position: relative;
  /* gap: 5px; */
  cursor: pointer;
  border-radius: 4px;
  /* margin: 0 10px 0 10px; */
}

.head {
  color: white;
  padding-left: 40px;
  
  font-family:cursive;

}