<body>
  <div class="container-fluid">
    <div class="row">
      <br>

      <div class="col">
        <img src="/assets/India4.png" class="d-block ms-5 w-80" style="height: 500px;" alt="...">
      </div>
      <div class="col-md-5">
        <blockquote class="blockquote">
          <h1 class="mb-0">"𝑰𝒏𝒅𝒊𝒂 𝒊𝒔 𝒕𝒉𝒆 𝒄𝒓𝒂𝒅𝒍𝒆 𝒐𝒇 𝒕𝒉𝒆 𝒉𝒖𝒎𝒂𝒏 𝒓𝒂𝒄𝒆, 𝒕𝒉𝒆
            𝒃𝒊𝒓𝒕𝒉𝒑𝒍𝒂𝒄𝒆
            𝒐𝒇 𝒉𝒖𝒎𝒂𝒏 𝒔𝒑𝒆𝒆𝒄𝒉, 𝒕𝒉𝒆 𝒎𝒐𝒕𝒉𝒆𝒓 𝒐𝒇 𝒉𝒊𝒔𝒕𝒐𝒓𝒚, 𝒕𝒉𝒆 𝒈𝒓𝒂𝒏𝒅𝒎𝒐𝒕𝒉𝒆𝒓 𝒐𝒇
            𝒍𝒆𝒈𝒆𝒏𝒅, 𝒂𝒏𝒅 𝒕𝒉𝒆 𝒈𝒓𝒆𝒂𝒕 𝒈𝒓𝒂𝒏𝒅𝒎𝒐𝒕𝒉𝒆𝒓 𝒐𝒇 𝒕𝒓𝒂𝒅𝒊𝒕𝒊𝒐𝒏."</h1>

          <!-- footer -->
          <div class="new_footer_area bg_color">
            <div class="new_footer_top">
              <div class="footer_bg">
                <div class="footer_bg_one"></div>
                <div class="footer_bg_two"></div>
              </div>
            </div>
          </div>
          <!-- footer -->
        </blockquote>
      </div>
      <!-- carousel -->

      <div id="carouselExampleFade" class="carousel slide carousel-fade sa" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active sa">
            <img src="/assets/india.jpg" class="d-block  w-100" style="height: 800px;" alt="...">
          </div>
          <div class="carousel-item sa">
            <img src="/assets/pexel1.jpeg" class="d-block w-100" style="height: 800px;" alt="...">
          </div>
          <div class="carousel-item sa">
            <img src="/assets/pexels.webp" class="d-block w-100" style="height: 800px;" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev sa " type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon sa" aria-hidden="true"></span>
          <span class="visually-hidden  ms-5">Previous</span>
        </button>
        <button class="carousel-control-next  sa " type="button a" data-bs-target="#carouselExampleFade"
          data-bs-slide="next">
          <span class="carousel-control-next-icon sa m-md-3" aria-hidden="true"></span>
          <span class="visually-hidden ms-5">Next</span>
        </button>
      </div>
      <img src="/assets/footer.png" class="d-block  w-100 " style="height: 100px;" alt="...">


      <!-- footerLogo -->
      <br>
      <b>
      </b>
        <div class="container mt-5 ">
        <div class="row justify-content-center">
          <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
              <img src="/assets/1.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
              <div class="card-body">
                <h5 class="card-title">The map of India tells a tale of cultures interwoven like threads in a vibrant
                  tapestry Every state, every city</h5>

                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
              <img src="/assets/3.jpeg" class="bd-placeholder-img card-img-top" alt="Image 1">
              <div class="card-body">
                <h5 class="card-title">From the Himalayas to the oceans, India's map echoes the grandeur of its
                  landscapes
                </h5>

                <div class="d-flex justify-content-between align-items-center">

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
              <img src="/assets/4.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
              <div class="card-body">
                <h5 class="card-title">From Kashmir to Kanyakumari, the map of India whispers tales of unity amidst
                  diversity</h5>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          <!-- Add similar card structures for other watches -->
        </div>
      </div>
      <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
          <a class="py-2" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="d-block mx-auto">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
              <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
              <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
              <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
              <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
              <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
            </svg>
          </a>
          <a class="py-2 d-none d-md-inline-block" href="#" routerLink="/food">Food</a>
          <a class="py-2 d-none d-md-inline-block" href="#" routerLink="/explore">Explore</a>
          <a class="py-2 d-none d-md-inline-block" href="#" routerLink="/culture">cultures</a>
          <a class="py-2 d-none d-md-inline-block" href="#" routerLink="/sport">Sport</a>
        </div>
      </nav>
      <div class="sss">
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
          <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Our India</h1>
            <p class="lead font-weight-normal">India, where every corner is a canvas painted with diversit</p>
            <a class="btn btn-outline-secondary" href="#">Connect</a>
          </div>
        </div>
      </div>


      <!-- footer -->
      <footer>
        <div class="row primary container-fluid">
          <div class="column about">
            <h3>Connect</h3>
            <p>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Sienna Towers, Service Road, Bangalore
            </p>
            <div class="social">
              <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square"></i></a>
              <a href="https://twitter.com/login" target="_blank"><i class="fa fa-twitter-square"></i></a>
              <a href="https://www.linkedin.com/login" target="_blank"><i class="fa fa-linkedin-square"></i></a>
              <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              <a mailto:href="https://mail.google.com/mail/" target="_blank"><i class="fa fa-envelope"></i></a>
            </div>
          </div>

          <div class="column link">
            <h3>Links</h3>
            <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="#blogs">Blogs</a></li>
              <li><a href="#support">Support</a></li>
            </ul>

          </div>




          <div class="column subscribe ssss container">
            <h3>Command your Query</h3>
            <div>
              <input type="Queries" placeholder="Any Queries?" />
              <button class="ss">Subscribe</button>
            </div>
          </div>
        </div>

        <div class="row copyright">
          <div class="footer-menu">
            <a href="">Home</a>
            <a href="">F.A.Q</a>
            <a href="">Cookies Policy</a>
            <a href="">Terms Of Service</a>
            <a href="">Support</a>
          </div>
          <p>Copyright &copy; 2022</p>
        </div>
      </footer>
    </div>
  </div>
</body>
